{% extends "blog/base.html" %}
<!-- {% block title %}Meeting: {{meeting.title}}{% endblock %} -->
{% block content %}

    <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
            {{blog.title}}
        </h3>
        <a href='{% url 'update-blog' blog.id %}'><button type="button">Update Blog</button></a>
        <br>
        <article class="blog-post">
        <img src={{blog.blog_image_url}} class="card-img-top" alt="..." height="200px">
          <h2 class="blog-post-title mb-1">{{blog.title}}</h2>
          <img class="rounded-circle" alt="100x100" src={{blog.author_image_url}} data-holder-rendered="true" height="50px" widhth="60px">
          <p class="blog-post-meta"><b>{{blog.author_name}}</b> {{blog.author_designation}}</p>
  
          <p>{{blog.description}}</p>
        </article>
    </div>
{% endblock %}

